<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
     crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>

  <link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../css/Technology.css">
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <title>Technology</title>
</head>



<body>
  <nav class="navbar navbar-expand-sm navbar-static-top" role="navigation">
    <span class="navbar-text" id="navUsrName">PLAYER</span>
    <ul class="navbar-nav">
      <li class="nav-item" id="first">
        <a class="nav-link" href="#" >Technology</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">People</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Processes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Policies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Risk Tolerance</a>
      </li>
      <li class="dropdown nav-item">
        <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#">Action

        <span class="caret"></span> </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Marketplace</a></li>
            <li><a class="dropdown-item" href="#">Scores</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">About</a></li>
          </ul>
        </li>
  </nav>


  <div class="container-fluid" id="content">
    <div class="row ">
      <h1 class=" "></h1>

      </h1>
    </div>
    <div class="row" id="graphs">
        <div class="col-sm-3 card" style="width: 18rem; padding: 10px">
            <!-- <figure class="figure figure-img img-fluid rounded" id="graph1"></figure> -->
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
      <!-- <figure class="col-sm-3 figure figure-img img-fluid rounded" id="graph1"></figure> -->
      <!-- <div class="col-sm-3 graphHolder" id="graph1"></div> -->
      <div class="col-sm-3 " id="graph2"></div>
      <div class="col-sm-3 " id="graph3"></div>
      <div class="col-sm-3 " id="graph4"></div>
    </div>

    <div class="row sugrow">
      <div class="col-sm-2"></div>
      <div class="col-sm-8 suggestions">
        <h4 class="dropdown">
          <a class="dropdown-toggle attention" data-toggle="dropdown" href="#">Suggestions</span></a>
        </h4>
      </div>
      <div class="col-sm-2"></div>
    </div>

    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8 suggestions">
        <h4 class="dropdown">
          <a class="dropdown-toggle attention" data-toggle="dropdown" href="#">Aging Technology</span></a>
        </h4>
      </div>
      <div class="col-sm-2"></div>
    </div>

    <script>
      var data = [{
        type: 'bar',
        x: [25, 7, 13],
        y: ['Total', 'New', 'Old'],
        orientation: 'h'
      }];
      Plotly.newPlot('graph2', data);

      var data = [{
        type: 'bar',
        x: [12, 2, 7],
        y: ['Total', 'New', 'Old'],
        orientation: 'h'
      }];
      Plotly.newPlot('graph1', data);

      var data = [{
        type: 'bar',
        x: [2, 1, 1],
        y: ['Total', 'New', 'Old'],
        orientation: 'h'
      }];
      Plotly.newPlot('graph3', data);

      var data = [{
        type: 'bar',
        x: [25, 7, 13],
        y: ['Total', 'New', 'Old'],
        orientation: 'h'
      }];
      Plotly.newPlot('graph4', data);

    </script>
</body>
</html>
