.loader {
  border: 16px solid orange; /* Light grey */
  border-top: 16px solid #6C757D; /* Blue */
  border-right: 16px solid #17A2B8;
  border-left: 16px solid #28A745;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
