.card{
    /* border: 1px solid red; */
    margin: 1.5%;
    padding-top: 1%;
}

#cards{
    padding-left: 1%
}

/* #decisions{
    margin:5% 10% 8% 10%
} */

#decisions .col-md-4{
    /* margin:5% 10% 8% 10%; */
    margin-top: 5%;
    margin-bottom: 8%
}

#decisions .col-md-4 .fas{
    padding-bottom: 20px;
}

a:link {
    text-decoration: none;
}

canvas {
  height: 400px;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -50px;
    margin-left: -35px;
}
